#header {
  height: 80px;
  width: 100%;
  background-color: inherit;

  > div {
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
    --padding: 24px;
    padding: 0 var(--padding);
    width: calc(100% - 2 * var(--padding));
    max-width: calc(var(--width) - (2 * var(--padding))) !important;
    height: inherit;
    position: fixed;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;

    > div {
      display: flex;
      align-items: center;
      gap: 1.5em;
    }
  }

  #title {
    img {
      height: 40px;
      width: 40px;
    }
  }

  nav ul {
    gap: 2em;
    display: flex;
  }

  #right {
    gap: 3em;
  }

  #actions {
    gap: 1em;
    display: flex;
    align-items: center;
  }
}

body[data-theme="dark"] #header > div {
  border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
}
body[data-theme="light"] #header > div {
  border-bottom: 1px solid rgba($color: #000, $alpha: 0.1);
}

body[data-theme="light"] .ant-select-dropdown span {
  background-color: rgba($color: #000, $alpha: 1);
  color: #fff;
}
body[data-theme="dark"] .ant-select-dropdown span {
  background-color: rgba($color: #fff, $alpha: 1);
  color: #000;
}
