body {
  margin: 0 auto;
  padding-bottom: 25vh;
  background-color: #0f1319;

  #root {
    background-color: inherit;
    > div {
      display: flex;
    }
    > *,
    > header > div {
      --width: 1800px;
      max-width: var(--width);
      margin: 0 auto;
    }
  }

  &[data-theme="light"] {
    color: #000;
    background-color: #fff;
  }
  &[data-theme="dark"] {
    color: #fff;
    background-color: #0f1319;
  }
}

main {
  display: flex;
  width: 100%;
  min-height: 101vh;

  #nd-content {
    padding: 0 48px 0;
    flex: 1;
    max-width: 1000px;
    margin: 48px auto;
  }
}
