#nodown-render .custom-block-code-wrapper {
  //   width: 100%;
  //   margin-top: 1em;
  overflow-x: hidden;
  border-radius: 0.25em;
  padding: 1em;

  .custom-block-code {
    display: flex;
    width: 100%;
    transition: transform 0.2s;
    gap: 1em;

    > div {
      min-width: 100%;
      flex: 1;
      // margin: 0;
      // padding: 0;
      //   overflow-y: hidden;
      * {
        background-color: transparent !important;
      }
    }
  }
}

body[data-theme="dark"] #nodown-render .custom-block-code-wrapper {
  background-color: rgba(255, 255, 255, 0.05);
}
body[data-theme="light"] #nodown-render .custom-block-code-wrapper {
  background-color: rgba(0, 0, 0, 0.05);
}

.html-preview {
  position: relative;

  > .reload {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }

  &:hover > .reload {
    display: block;
  }

  > iframe {
    width: 100%;
    height: 100%;
    border: none;

    body {
      background-color: "trasparent";
    }
  }
}

#nodown-render .syntaxes {
  code {
    font-size: 1em;
  }
  span {
    font-size: 1em;
    padding: 0.1em 0.2em;
    border-radius: 0.2em;
  }
}
body[data-theme="light"] .syntaxes {
  span {
    background-color: rgba(0, 0, 0, 0.075);
  }
}
body[data-theme="dark"] .syntaxes {
  span {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
