@import "./components/header/header.scss";
@import "./components/navigation/navigation.scss";
@import "./components/table-of-content/table-of-content.scss";
@import "./body.scss";

:root {
  color: white;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
